backend:
  name: git-gateway
  branch: main


media_folder: "public/uploads"
public_folder: "/uploads"
media_library:
  name: uploadcare
  config:
    publicKey: demopublickey

collections:
  - name: "pages"
    label: "Pages"
    folder: "content/pages"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
